nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .nav-buttons{
    button {
      background-color: transparent;
      color: $dark-gray;
      border: none;
      cursor: pointer;
      border: 2px solid $dark-gray;
      padding: 0.5rem;
      transition: all 0.24s ease-in-out;
      
      &:hover {
        background: $dark-gray;
        color: $white;
      }
    }
    button.dark-mode {
      margin-left: 1rem;
      border-radius: 50%;
      background-color: $dark-gray;
      color: $white;
    }
  }
}

@media screen and (max-width: 768px){
  nav {
    button {
      z-index: 10;
    }
  }
}