.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 20%;
    border-radius: 50%;
  }

  img.is-active {
    animation: spin 10s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  h2 {
    padding: 3rem 1rem 1rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px){
  .song-container {
    img{
      width: 60%;
    }
  }
}